body, html {
  height: 100%;
  margin: 0;
  font-family: Syne, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0.5rem;
}

.header {
  font-size: 4em;
  color: white;
  margin-top: 5%;
  margin-bottom: 0.1em;
  padding-left: 1.25rem;
}

.menu {
  color: white;
  padding-left: 2rem;
  flex-basis: 25%;
}

.linebreak {
  width: 33%;
  height: 1px;
  background-color: white;
  border: none;
  margin: 1.1rem 0;
  padding-left: .25rem;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1.1rem;
  color: white;
}

.menu a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: white;
  font-size: 1.1rem;
}

footer {
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.75rem;
  border-top: 1px dotted white;
  font-weight: 300;
}

.text-box {
  background-color: rgba(211, 211, 211, 0.05);
  color: white;
  padding: 0.5rem;
  padding-top: 0.2rem;
  max-width: 30%;
  flex-basis: 40%;
  font-size: 1rem;
  font-weight: 300;
  display: none;
  margin-left: 1.5rem; 
  margin-top: 1.3rem;
  margin-bottom: 1.9rem;
}

.text-box h1 {
  color: white;
  font-size: .85rem;
  font-weight: 400;
}

.text-box a {
  color: white;
  font-size: .8rem;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: 0.05px;
  line-height: 1.5;
}

.text-box li {
  list-style: circle;
  font-size: .8rem;
  font-weight: 300;
  margin-left: -0.9rem;
}

.text-box li:first-of-type {
  margin-top: -0.45rem;
}

/* Media queries */

/* Show the text box on larger screens */
@media screen and (min-width: 769px) {
  .text-box {
    display: block;
  }
}

/* Mobile devices */
@media screen and (max-width: 768px) {
  .header {
    font-size: 2em;
    margin-top: 5%;
  }
  .menu {
    font-size: 1em;
    padding-left: 2rem;
  }
}
